<div class="card" style="background: <%= cardBgColour %>">
  <div class="topcard" style="background: <%= cardHeaderBgColour %>">
    <h4><%= cardTitle %></h4>
  </div>
  <div class="bottomcard">
    <div class="cardtext"><%= cardText %></div>
    <img src="<%= cardIcon %>" alt="Top Image" class="card-img" />
  </div>
</div>
