<%- include('../partials/header.ejs'); -%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Year One</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1 class="yearHeaders">Year One</h1>
    <div class="wrapper">
      <div class="container">
        <a href="/managersquad" class="sectionCards">
          <%- include('../partials/homeCard', { 
            cardBgColour: '#8ad098', 
            cardHeaderBgColour: '#57a266', 
            cardTitle: 'Manager Squad', 
            cardText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 
            cardIcon: 'icons/managerIcon.png',
            
          }); -%>
        </a>
        <a href="/testengineering" class="sectionCards">
          <%- include('../partials/homeCard', { 
            cardBgColour: '#8D819D', 
            cardHeaderBgColour: '#60487D', 
            cardTitle: 'Test Engineering', 
            cardText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 
            cardIcon: 'icons/testIcon.png' 
          }); -%>
        </a>
        <a href="/designsquad" class="sectionCards">
          <%- include('../partials/homeCard', { 
            cardBgColour: '#CDB2BB', 
            cardHeaderBgColour: '#936D79', 
            cardTitle: 'Design Squad', 
            cardText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 
            cardIcon: 'icons/designIcon.png' 
          }); -%>
        </a>
        <a href="/accessibilitytaskforce" class="sectionCards">
          <%- include('../partials/homeCard', { 
            cardBgColour: '#ECB25A', 
            cardHeaderBgColour: '#D79026', 
            cardTitle: 'Accessibility Taskforce', 
            cardText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', 
            cardIcon: 'icons/accessibilityIcon.png' 
          }); -%>
        </a>
      </div>
    </div>
  </body>
</html>

</body>
</html>

